fastapi
uvicorn
opencv-python-headless
numpy
easyocr
transformers
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
